
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
   
  }
  
  ul,
  ol,
  a {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  .container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
  }
  
  
  :hover, :focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  
  /* GENERAL-media-rules */
  @media  screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
    
    @media  screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;
      }
    }
  

  /* HEADER-STYLES */
  
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
   
  }
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  
  .main-nav {
    display: flex;
    align-items: center;
    
  }
  
  
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
  
      padding: 17px 0;
  }
  
  
  .link {
    color: #2e2f42;
  }
  
  
  .menu {
    display: none;
  }
  
  
  .address {
    display: none;
   }
  
  
  .header-contacts-link {
    display: block;
    padding: 24px 0;
  
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.5;
      color: #2e2f42;
  }
  
  
  
  .logo {
    position: relative;
  
      color: #404bbf;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .logo::after {
    content: "";
    display: flex;
    position: absolute;
    margin: 0 auto;
    min-width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color:  #404bbf;
  }
  
  
  .header-contacts-link:hover {
    color: #404bbf;
  }
  
  
  .header-contacts-link:focus {
    color: #404bbf;
  }
  
  
  .address-link-address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
  
      margin-left: auto;
  }
  
  
  .address-link {
    line-height: 1.5;
    color: #434455;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  
  .address-link:hover {
    color: #404bbf;
  }
  
  
  .address-link:focus {
    color: #404bbf;
  }
  
  
  .open-menu-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;
    padding: 0;
  }
  
  
  
  /* HEADER-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
    .open-menu-button {
      display: none;
    }
  
    .address {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
    }
    
    .menu {
      display: flex;
      gap: 40px;
  
        margin-left: 120px;
      }
  
    .logo {
      padding: 26px 0;
    }
  } 
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
    .adress {
      flex-direction: row;
      column-gap: 40px;
  
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
    .menu {
      margin-left: 76px;
    }
  }
  /* /HEADER-media-rules */
  
  /*/HEADER-STYLES  */
  
  
  
  
  /* MAIN-STYLES */
  
  
  .hero {
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),  
    url(../images/hero-fone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2e2f42;
  
    max-width: 320px;
    min-height: 432px;
  
    padding: 72px 52px;
     margin: 0 auto;
     }
  
  
    
  .hero-title {
    
    text-align: center;
    
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 1.1;
      color: #fff;
  
        margin-bottom: 72px;
  }
  
  
  .hero-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
  
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      min-width: 169px;
      height: 56px;
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
      
            padding: 16px 32px;
  }
  
  
  .hero-button:hover {
    background-color: #404bbf;
  }
  
  
  .bhero-button:focus {
    background-color: #404bbf;
  }
  
  
  
  
  /* MAIN-media-rules */
  
  /* phone */
  
  @media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg 
    }
  }
  
  /* tablet */
  
  
  @media screen and (min-width: 768px) {
    
    .hero {
      min-width: 768px;
  
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone.jpg);
  
          padding: 112px 136px;
    }
  
    .hero-title {
      width: 496px;
      font-size: 56px;
  
        margin-bottom: 36px;
    }
  }
  
  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg);
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .hero {
      
      max-width: 1440px;
      min-height: 600px;
    padding: 188px 0px;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone.jpg);
        
      }
  
  
  
    .hero-title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
    }
  }
  
  
  
  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg)
    }
  }
  
  /* /MAIN-media-rules */
  
  
  
  
  
  
  
  /*PECULIARITIE-STYLES*/
  
  .features {
    padding: 96px 0;
  }
  
  .features-list {
    display: flex;
    flex-direction: column;
  
      row-gap: 72px;
      
  }
  
  
  .div-icons {
    display: none;
  }
  
  
   .features-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  
  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  
  
  
  /*PECULIARITIE-media-rules  */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
    .features {
      min-width: 768px;
    }
  
    .features-list {
      flex-direction: row;
      column-gap: 24px;
      flex-wrap: wrap;
    }
  
    .features-header {
      text-align: start;
    }
  
    .features-list-inside {
      max-width: 356px;
      min-height: 120px;
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .features {
      padding: 120px 0;
    }
  
    .div-icons {
      display: flex;
      justify-content: center;
      align-items: center;
  
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
  
          width: 264px;
          height: 112px;
          margin-bottom: 8px;
    }
  
    .features-list {
      flex-wrap: nowrap;
    }
    
  
    .features-header {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    
  
    .features-text {
      font-weight: 400;
    }
  }
  
  /*/PECULIARITIE-media-rules  */
  
  
  
  
  /* TEAM-STYLES*/
  
  .header-content {
    padding: 96px 0;
    margin: 0 auto;
  
      background-color: #f4f4fd;
  }
  
  
  .our-team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 72px;
  }
  
  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  
      gap: 72px;
  }
  
  
  
    .our-team-item {
      width: 264px;
     
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background-color:  #fff;
    }
    
    
    
        
  .info-member   {
    display: flex;
    flex-direction: column;
    align-items: center;
  
      row-gap: 8px;
      padding: 32px 16px;
      
      background-color: #fff;
  
  }
      
  
  
  .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  .card-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  
     margin-bottom: 8px;
  }
  
   
  .social-link {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
  
  .social-link-item {
    width: 40px;
    height: 40px;
  }
  
  
  
  
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
      width: 40px;
      height: 40px;
      border-radius: 50%;
  
        background-color:  #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
  }
  
  
  .icon-link:hover, .icon-link:focus {
    background-color: #404bbf;
  }
  
  
  
  /* TEAM-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
   .header-content {
       min-width: 768px;
    }
   
  
   
  
   .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    }
  }
      
  
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .header-content {
      padding: 120px 0;
    }
  
  
    .our-team-item  {
      flex-wrap: nowrap;
    }
  }
  
            
  /* /TEAM-media-rules */
          
  /* /TEAM-STYLES*/
  
  
  
  
  /* PORTFOLIO-STYLES */
  
  .our-portfolio {
    padding: 96px 0;
    margin: 0 auto;
  
  }
  
  
  
  
  .main-title-portfolio {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
       margin-bottom: 72px;
  }
  
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    
      column-gap: 24px;
      row-gap: 48px;
  }
  
  
  .portfolio-list-content {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    height: auto;
  
  
  
      box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
      background-color: #fff;
  }
  
  
  
  .portfolio-list-content:hover .overlay {
    transform: translatey(0%);
  }
  
  
    
  .portfolio-list-content:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }
  
  
  
  .name-of-product {
    position: relative;
    overflow: hidden;
  }
  
  
  
  .name-of-product-p {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
  
      background-color: #4d5ae5;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .name-of-product-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
      width: 100%;
      padding: 40px 32px;
  }
  
  
  
  .name-of-product {
    border: 1px solid #e7e9fc;
    border-top: none;
  
      padding: 32px 16px;
  }
  
  
  
  .project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  
  
  .project-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  
  /* PORTFOLIO-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
      
    .our-portfolio {
      min-width: 768px;
      
    }
    
     
    .portfolio-list {
      justify-content: center;
      row-gap: 72px;
    }
  
    .portfolio-list-content {
      width: 356px;
      height: auto;
    }
  }
  
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .our-portfolio {
  
      padding: 120px 0;
    }
  
    .portfolio-list {
       row-gap: 48px;
       column-gap: 24px;
    } 
  
    .portfolio-list-content {
      width: 360px;
      height: auto;
    }
  }
  
  
  /* /PORTFOLIO-media-rules */
    
  /* /PORTFOLIO-STYLES */
  
  
  /* /MAIN-STYLES */
  
  /* FOOTER */
  
  .footer-bg {
    background-color: #2e2f42;
    padding: 96px 0;
  }
  
  
  .logo-and-text {
    text-align: center;
    max-width: 288px;
    min-height: 112px;
    margin-bottom: 72px;
  }
  
  
  
  .logo-footer {
    font-family: "Raleway", sans-serif;
    display: inline-block;
  
      text-transform: uppercase;
      line-height: 1.17;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: #4d5ae5;
  }
  
    
   
  .logo-studio-footer {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #f4f4fd;
  }
  
  
  
  .footer-text {
    text-align: start;
  
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
  }
  
  .footer-icons-container {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  
   .footer-social-icons {
   
    margin-top: 16px;
   }
    
  
  
  
  
  .icons-title {
    
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  
  
  .icon-item-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
      width: 40px;
      height: 40px;
      border-radius: 50%;
  
        background-color:  #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
  }
  
  
  
  .icon-item-footer:hover,
  .icon-item-footer:focus {
    background-color:  #31d0aa;
  }
  
  
    
  .footer-social-icons {
    display: flex;
    gap: 16px;
  }
  
  
  
  .footer-form-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  
  
  
  .footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  
      margin-bottom: 16px;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  
  .footer-form-input {
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
  
      background-color: transparent;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
  }
  
   
   
  .footer-form-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
  
      min-width: 165px;
      min-height: 40px;
      border-radius: 4px;
      padding: 8px 24px;
      background: #4d5ae5;
      gap: 16px;
  
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
  
  }
  
  
  /* FOOTER-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
  .footer-bg {
    padding-left: 108px;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
   align-items: baseline;
  }
  
  .logo-and-text {
    text-align: start;
  }
  
  .footer-icons-container {
    align-items: normal;
  }
  
    .logo-and-links {
      display: flex;
      gap: 24px;
      align-items: baseline;
    }
  
    
  
    .footer-form {
      flex-direction: row;
      gap: 24px;
    }
  
    .footer-form-wrapper  {
      display: block;
    }
    
    .footer-form-input {
      width: 264px;
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .footer-bg {
      padding: 100px 0;
    }
  
  
    .logo-and-links {
      gap: 120px;
      margin-right: 80px;
    }
  
    .logo-and-text {
      max-width: 264px;
      text-align: start;
      margin-right: 120px;
      margin-bottom: 0;
    }
  
    .footer-icons-container {
      margin-right: 80px;
     margin-bottom: 0;
     
    }
  
    .flex {
      align-items: center;
    }
    
  }
    
  
  /* MENU-WINDOW-STYLES */
  
  
  .menu-window-container {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    z-index: 9999;
    
      opacity: 0;
      visibility: hidden;
      transition: opacity 250ms linear, visibility 250ms linear;
      background-color: #fff;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        padding: 72px 16px 40px;
  }
    
  
  .menu-window-container.is-open {
    opacity: 1;
    visibility: visible;
      
  }
  
  
  .close-menu-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
        width: 24px;
        height: 24px;
        padding: 0;
  
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
      
            fill: #2e2f42;
            transition: fill 250ms linear;
            background-color: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .menu-window-navigation {
    margin-bottom: auto;
  }
  
  
  .menu-window-list {
    display: flex;
    flex-direction: column;
  
      gap: 40px;
     
  }
  
  .menu-window-list-item-studio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
  
  
  .menu-window-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
  
     color: #2e2f42;
  }
  
  
  .menu-window-list-item:hover,
  .menu-window-list-item:focus {
  
    color: #404bbf;
  }
  
  .menu-window-adress {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .menu-window-tel {
  
    color: #4d5ae5;
  }
  
  .menu-window-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
      color: #434455;
  }
    
  
  
  .menu-window-adress-list:hover,
  .menu-window-adress-list:focus {
  
    color: #4d5ae5;
  }
  
  
  .menu-window-social-link {
    display: flex;
    gap: 40px;
  
      margin-top: 48px;
  }
  
  /* /MENU-WINDOW-STYLES */
  
  
   
  
  
  /* BACKDROP */
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  
      width: 100%;
      height: 100%;
  
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms linear, visibility 250ms linear;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    padding: 8px 16px;
  }
  
  /* /BACKDROP */
  
  
  /* MODAL-WINDOW-STYLES */
  
  
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
      width: 288px;
     height: auto;
  
        border-radius: 4px;
        box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color:  #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
          padding: 72px 16px 24px;
  }
  
  .modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
        width: 24px;
        height: 24px;
        padding: 0;
  
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
      
            fill: #2e2f42;
            transition: fill 250ms linear;
            background-color:  #e7e9fc;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  
  .modal-close-button:hover,
  .modal-close-button:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
  }
  
  .close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
    
  
  .form-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 16px;
  }
      
  
    
  .form-input {
    width: 100%;
    height: 40px;
  
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      outline: transparent;
  
        background-color: transparent;
        transition: border-color 250ms linear;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
          padding-left: 38px;
  }
  
  
  .form-input:focus {
    outline: transparent;
    border: 1px solid #4d5ae5;
  }
  
  .input-wrapper {
    margin-bottom: 8px;
  }
  
  
  
  .form-field-label {
    display: block;
  
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      line-height: 1.17;
      color: #8e8f99;
  
        margin-bottom: 4px;
  }
  
  
  
  .form-input-wrapper {
    position: relative;
  }
  
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  
      fill: #2e2f42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
       
  
  .form-input:focus+.input-icon {
    fill: #4d5ae5;
  }
  
    
  .comment {
      width: 100%;
      height: 120px;
      resize: none;
  
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
  
          border-radius: 4px;
          border: 1px solid rgba(46, 47, 66, 0.4);
          transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
            background-color: transparent;
            outline: transparent;
      
              padding: 8px 16px;
              margin-bottom: 16px;
  }
      
  
  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
      
  
  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .comment:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
  }
  
  .checkbox-wrapper {
    margin-bottom: 24px;
  }
  
  .privacy-checkbox:checked+.checkbox-label .own-checkbox {
    border: none;
    border-color: 1px solid #404bbf;
    background-color: #404bbf;
    fill: #f4f4fd;
  }
  
  
  .privacy-policy {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  
      line-height: 1.3;
  
        color: #4d5ae5;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
  }
  
  .own-checkbox {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    flex-shrink: 0;
  
      width: 16px;
      height: 16px;
      
          border-radius: 2px;
          border: 1px solid rgba(46, 47, 66, 0.4);
  
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
              margin-right: 8px;
  }
  
  
  .submit-button {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  
      min-width: 169px;
      height: 56px;
      
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
          
          padding: 16px 32px;
  
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
  }
  
  /* MODAL-WINDOW-media-rules */
  
  /* tablet-and-dextop */
  
  @media screen and (min-width:768px) {
    .modal-window {
      width: 408px;
      height: 584px; 
    }
  }
  
  /* MODAL-WINDOW-media-rules */
  
  /* /MODAL-WINDOW-STYLES */
  
      
    
  
   
  
  
    
    