body {
    font-family: "Roboto", sans-serif;
    Color: #434455;
    background: #FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
}
a {
    text-decoration: none;
}
img {
    display: block ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.add {
    display: flex; 
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1158px;
    padding: 0 15px;
  
    margin: 0 auto;
}

.main-nav {
    gap: 40px;
    align-items: center; 
}
.header-logo {
    /* display: inline-block; */
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    margin-bottom: 16px; 
}


.header-logo-span {
    margin-right: 76px;
        color:  #2E2F42;
    }
    
.footer-logo
{       
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    margin-bottom: 16px; 
}
.footer-logo-features {
    display: inline-block;
    color: #f4f4fd;
    margin-bottom: 16px; 
    
    
}




.header-studio-logo,
.footer-studio-logo {
    color:  #2E2F42;
}

.menu {
    display: flex; 
    gap: 40px;

}
 .header-contacts-link {
    text-decoration: none;
    display: inline-block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
padding: 24px 0;
position: relative;
color: #404bbf;
transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}
.header-contacts-link::after {
    content:"";
    width: 100%;
    height: 4px; 
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf; 
    border-radius: 2px;
}
.address-link-address {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.address-link {
    transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    list-style: none;
}
.address-link {
    color: #434455;
    /* font-size: 16px;
    font-weight: 400; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.hero {
    /* background-color: #2e2f42;
        padding: 188px 0; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-fone.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: auto;
    }
    
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    
    max-width: 496px;
}
.hero-button {
    color:  #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    display: block; 
    max-width: 169px;
    height: 56px ;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}

  
.features  {
    padding: 120px 0;
}


.features-list {
    display: flex; 
    gap: 24px; 
}
.features-list-inside {
    width: calc((100% - 72px) / 4); 
    margin-bottom: 8px;
}
.div-icons {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f4f4fd; 
    
}
.features-header {
    font-family: "Roboto";
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}
.features-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-content {
    background-color: #F4F4FD;
    padding: 120px 0
}
.our-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-team-title {
    margin-bottom: 72px; 
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-team-list {
    display: flex; 
    gap: 24px;
}

.our-team-item {
    width: calc((100% - 72px) / 4); 
    
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

  
.info-member {
    padding: 32px 0;
}
.social-link {
    display: flex;
    justify-content: center; 
    gap: 24px;
}
.social-link-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .links {
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}
.social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    fill:#f4f4fd;
}
.card-title {
    
    text-align: center; 
    margin-bottom: 8px;
}
.card-content {
   
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}
.our-portfolio {
    padding: 96px 0 120px;

}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title-portfolio {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
.portfolio-list {
    display: flex ;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px;
    padding-left: 0;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-list-content:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-list-content {
    width: calc((100% - 48px) / 3); 
    box-sizing: content-box; */
    display:inline-block ;
    width: 360px;
    height: 420px;
    position: relative;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-of-product {
   
    position: relative;
    overflow: hidden;
}

.portfolio-item:focus .name-of-product-p,
.portfolio-item:hover .name-of-product-p {
    transform: translateY(0%);
}
.name-of-product-p {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left:0;
    font-weight: 400;
    line-height: 150%;
    padding: 40px 32px; 
    background-color: #4d5ae5; 
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   

.project-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.project-content {
    height: 100%; 
    width: 100%;
    color:  #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
     
    margin-bottom: 8px;
}
.div-footer {
    display: flex;
    align-items: baseline;

}

.div-footer-logo-p {
    margin-right: 120px;

}
.features-footer {
    background: #2e2f42;
    padding: 100px 0;
  
}

  
.project-content-list {
    color: #f4f4fd;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
}

.social-media-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em ;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex; 
    gap: 16px;
}
.social-media-link {
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.social-media-link:hover,
.social-media-link:focus {
    background-color: #31d0aa; 
}

.social-media-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex; 
    align-items: center; 
    justify-content: center;
    border-radius: 50%;
}

.icon-footer-svg {
    fill:#f4f4fd;
}
.form {
    display: block;
}

.form-p {
    font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: 92px;
    color: #ffffff;
}

.form-main {
    display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 88px;
  margin-right: auto;
}

.form-label {
    gap: 24px ;
}
  
.input-email {
    height: 40px;
    width: 264px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: transparent;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
}
.input-email::placeholder {
    color: #ffffff;
}
.btn-subscribe {
    min-width: 165px;
    height: 40px;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
}
.svg-btn {
    fill: #ffffff;
  margin-left: 16px;
}
.svg-btn:hover,
.svg-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-info {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em; 
    color:#2E2F42 ;
    margin-bottom: 16px; 
}
.modal-form {
    margin-bottom: 8px; 

}
.label-name {
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color:#8e8f99; 
    display: block; 
    margin-bottom: 4px;
}

.modal-window {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    width: 408px; 
    min-height: 584px;
    background: #fcfcfc; 
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}

.btn-modal {
    position: absolute; 
    top: 24px; 
    right: 24px; 
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.btn-modal:hover,
.btn-modal:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none; 
}
.modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-user {
    position: relative;
    width: 100%;   
}
.input-user {
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user:focus {
    border-color: #4D5AE5; 
}

.user-icon {
    position: absolute;
    left: 16px ;
    top: 50%; 
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-user:focus + .user-icon {
    fill: #4D5AE5;
}
.comment {
    margin-bottom: 16px;
}
.text-area {
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.text-area:focus {
    border-color: #4D5AE5;
}
.checkbox-container {
    margin-bottom: 24px;
}
/* .input-checkbox .visually-hidden { */
    
/* } */
.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;

}
.span-checkbox {
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent;
}
.span-svg {

}
.input-checkbox:checked +  .checkbox-label > .span-checkbox  {
    background-color:#404bbf; 
    border: none;
    fill:#F4F4FD;
}
.privacy-link {
    color: #4d5ae5;
}
.btn-checkbox {
    margin: auto;
    display: block;
    min-width: 169px;
    height: 56px ;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5 ;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
   
  }
  
  ul,
  ol,
  a {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  .container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
  }
  
  
  :hover, :focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  
  /* GENERAL-media-rules */
  @media  screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
    
    @media  screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;
      }
    }
  

  /* HEADER-STYLES */
  
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
   
  }
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  
  .main-nav {
    display: flex;
    align-items: center;
    
  }
  
  
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
  
      padding: 17px 0;
  }
  
  
  .link {
    color: #2e2f42;
  }
  
  
  .menu {
    display: none;
  }
  
  
  .address {
    display: none;
   }
  
  
  .header-contacts-link {
    display: block;
    padding: 24px 0;
  
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1.5;
      color: #2e2f42;
  }
  
  
  
  .logo {
    position: relative;
  
      color: #404bbf;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .logo::after {
    content: "";
    display: flex;
    position: absolute;
    margin: 0 auto;
    min-width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color:  #404bbf;
  }
  
  
  .header-contacts-link:hover {
    color: #404bbf;
  }
  
  
  .header-contacts-link:focus {
    color: #404bbf;
  }
  
  
  .address-link-address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
  
      margin-left: auto;
  }
  
  
  .address-link {
    line-height: 1.5;
    color: #434455;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  
  .address-link:hover {
    color: #404bbf;
  }
  
  
  .address-link:focus {
    color: #404bbf;
  }
  
  
  .open-menu-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;
    padding: 0;
  }
  
  
  
  /* HEADER-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
    .open-menu-button {
      display: none;
    }
  
    .address {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
    }
    
    .menu {
      display: flex;
      gap: 40px;
  
        margin-left: 120px;
      }
  
    .logo {
      padding: 26px 0;
    }
  } 
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
    .adress {
      flex-direction: row;
      column-gap: 40px;
  
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
    .menu {
      margin-left: 76px;
    }
  }
  /* /HEADER-media-rules */
  
  /*/HEADER-STYLES  */
  
  
  
  
  /* MAIN-STYLES */
  
  
  .hero {
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),  
    url(../images/hero-fone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2e2f42;
  
    max-width: 320px;
    min-height: 432px;
  
    padding: 72px 52px;
     margin: 0 auto;
     }
  
  
    
  .hero-title {
    
    text-align: center;
    
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 1.1;
      color: #fff;
  
        margin-bottom: 72px;
  }
  
  
  .hero-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
  
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      min-width: 169px;
      height: 56px;
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
      
            padding: 16px 32px;
  }
  
  
  .hero-button:hover {
    background-color: #404bbf;
  }
  
  
  .bhero-button:focus {
    background-color: #404bbf;
  }
  
  
  
  
  /* MAIN-media-rules */
  
  /* phone */
  
  @media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg );
    }
  }
  
  /* tablet */
  
  
  @media screen and (min-width: 768px) {
    
    .hero {
      min-width: 768px;
  
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone.jpg);
  
          padding: 112px 136px;
    }
  
    .hero-title {
      width: 496px;
      font-size: 56px;
  
        margin-bottom: 36px;
    }
  }
  
  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg);
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .hero {
      
      max-width: 1440px;
      min-height: 600px;
    padding: 188px 0px;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone.jpg);
        
      }
  
  
  
    .hero-title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
    }
  }
  
  
  
  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),  
        url(../images/hero-fone@2x.jpg)
    }
  }
  
  /* /MAIN-media-rules */
  
  
  
  
  
  
  
  /*PECULIARITIE-STYLES*/
  
  .features {
    padding: 96px 0;
  }
  
  .features-list {
    display: flex;
    flex-direction: column;
  
      row-gap: 72px;
      
  }
  
  
  .div-icons {
    display: none;
  }
  
  
   .features-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  
  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  
  
  
  /*PECULIARITIE-media-rules  */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
    .features {
      min-width: 768px;
    }
  
    .features-list {
      flex-direction: row;
      column-gap: 24px;
      flex-wrap: wrap;
    }
  
    .features-header {
      text-align: start;
    }
  
    .features-list-inside {
      max-width: 356px;
      min-height: 120px;
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .features {
      padding: 120px 0;
    }
  
    .div-icons {
      display: flex;
      justify-content: center;
      align-items: center;
  
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
  
          width: 264px;
          height: 112px;
          margin-bottom: 8px;
    }
  
    .features-list {
      flex-wrap: nowrap;
    }
    
  
    .features-header {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    
  
    .features-text {
      font-weight: 400;
    }
  }
  
  /*/PECULIARITIE-media-rules  */
  
  
  
  
  /* TEAM-STYLES*/
  
  .header-content {
    padding: 96px 0;
    margin: 0 auto;
  
      background-color: #f4f4fd;
  }
  
  
  .our-team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 72px;
  }
  
  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  
      gap: 72px;
  }
  
  
  
    .our-team-item {
      width: 264px;
     
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background-color:  #fff;
    }
    
    
    
        
  .info-member   {
    display: flex;
    flex-direction: column;
    align-items: center;
  
      row-gap: 8px;
      padding: 32px 16px;
      
      background-color: #fff;
  
  }
      
  
  
  .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  .card-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  
     margin-bottom: 8px;
  }
  
   
  .social-link {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
  
  .social-link-item {
    width: 40px;
    height: 40px;
  }
  
  
  
  
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
      width: 40px;
      height: 40px;
      border-radius: 50%;
  
        background-color:  #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
  }
  
  
  .icon-link:hover, .icon-link:focus {
    background-color: #404bbf;
  }
  
  
  
  /* TEAM-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
   .header-content {
       min-width: 768px;
    }
   
  
   
  
   .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    }
  }
      
  
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .header-content {
      padding: 120px 0;
    }
  
  
    .our-team-item  {
      flex-wrap: nowrap;
    }
  }
  
            
  /* /TEAM-media-rules */
          
  /* /TEAM-STYLES*/
  
  
  
  
  /* PORTFOLIO-STYLES */
  
  .our-portfolio {
    padding: 96px 0;
    margin: 0 auto;
  
  }
  
  
  
  
  .main-title-portfolio {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
       margin-bottom: 72px;
  }
  
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    
      column-gap: 24px;
      row-gap: 48px;
  }
  
  
  .portfolio-list-content {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    height: auto;
  
  
  
      box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
      background-color: #fff;
  }
  
  
  
  .portfolio-list-content:hover .overlay {
    transform: translatey(0%);
  }
  
  
    
  .portfolio-list-content:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }
  
  
  
  .name-of-product {
    position: relative;
    overflow: hidden;
  }
  
  
  
  .name-of-product-p {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
  
      background-color: #4d5ae5;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .name-of-product-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
      width: 100%;
      padding: 40px 32px;
  }
  
  
  
  .name-of-product {
    border: 1px solid #e7e9fc;
    border-top: none;
  
      padding: 32px 16px;
  }
  
  
  
  .project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 8px;
  }
  
  
  
  .project-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  
  /* PORTFOLIO-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
      
    .our-portfolio {
      min-width: 768px;
      
    }
    
     
    .portfolio-list {
      justify-content: center;
      row-gap: 72px;
    }
  
    .portfolio-list-content {
      width: 356px;
      height: auto;
    }
  }
  
  
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .our-portfolio {
  
      padding: 120px 0;
    }
  
    .portfolio-list {
       row-gap: 48px;
       column-gap: 24px;
    } 
  
    .portfolio-list-content {
      width: 360px;
      height: auto;
    }
  }
  
  
  /* /PORTFOLIO-media-rules */
    
  /* /PORTFOLIO-STYLES */
  
  
  /* /MAIN-STYLES */
  
  /* FOOTER */
  
  .features-footer {
    background-color: #2e2f42;
    padding: 96px 0;
  }
  
  
  .div-footer-logo-p {
    text-align: center;
    max-width: 288px;
    min-height: 112px;
    margin-bottom: 72px;
  }
  
  
  
  .footer-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
  
      text-transform: uppercase;
      line-height: 1.17;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: #4d5ae5;
  }
  
    
   
  .footer-logo-features {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #f4f4fd;
  }
  
  
  
  .project-content-list {
    text-align: start;
  
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
  }
  
  .social-media {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  
   .social-media-list {
   
    margin-top: 16px;
   }
    
  
  
  
  
  .social-media-p {
    
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  
  
  .social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
      width: 40px;
      height: 40px;
      border-radius: 50%;
  
        background-color:  #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
  }
  
  
  
  .social-media-link:hover,
  .social-media-link:focus {
    background-color:  #31d0aa;
  }
  
  
    
  .social-media-list {
    display: flex;
    gap: 16px;
  }
  
  
  
  .form {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  
  
  
  .form-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  
      margin-bottom: 16px;
  }
  
  .form-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  
  .input-email {
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
  
      background-color: transparent;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
  }
  
   
   
  .btn-subscribe {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
  
      min-width: 165px;
      min-height: 40px;
      border-radius: 4px;
      padding: 8px 24px;
      background: #4d5ae5;
      gap: 16px;
  
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
  
  }
  
  
  /* FOOTER-media-rules */
  
  /* tablet */
  
  @media screen and (min-width: 768px) {
  
  .features-footer {
    padding-left: 108px;
  }
  
  .div-footer {
    display: flex;
    flex-wrap: wrap;
   align-items: baseline;
  }
  
  .project-content-list  {
    text-align: start;
  }
  
  .social-media {
    align-items: normal;
  }
  
    .social-media-list {
      display: flex;
      gap: 24px;
      align-items: baseline;
    }
  
    
  
    .form-main {
      flex-direction: row;
      gap: 24px;
    }
  
    .form  {
      display: block;
    }
    
    .input-email {
      width: 264px;
    }
  }
  
  /* dextop */
  
  @media screen and (min-width: 1158px) {
  
    .features-footer {
      padding: 100px 0;
    }
  
  
    .social-media-list {
      gap: 120px;
      margin-right: 80px;
    }
  
    .div-footer-logo-p {
      max-width: 264px;
      text-align: start;
      margin-right: 120px;
      margin-bottom: 0;
    }
  
    .social-media {
      margin-right: 80px;
     margin-bottom: 0;
     
    }
  
    .div-footer {
      align-items: center;
    }
    
  }
    
  
  /* MENU-WINDOW-STYLES */
  
  
  .modal-window {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    z-index: 9999;
    
      opacity: 0;
      visibility: hidden;
      transition: opacity 250ms linear, visibility 250ms linear;
      background-color: #fff;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        padding: 72px 16px 40px;
  }
    
  
  .modal-window.is-open {
    opacity: 1;
    visibility: visible;
      
  }
  
  
  .btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
        width: 24px;
        height: 24px;
        padding: 0;
  
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
      
            fill: #2e2f42;
            transition: fill 250ms linear;
            background-color: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  

  
  
  /* /MENU-WINDOW-STYLES */
  
  
   
  
  
  /* BACKDROP */
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  
      width: 100%;
      height: 100%;
  
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms linear, visibility 250ms linear;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  /* .modal.is-open {
    opacity: 1;
    visibility: visible;
    padding: 8px 16px;
  } */
  
  /* /BACKDROP */
  
  
  /* MODAL-WINDOW-STYLES */
  
  
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
      width: 288px;
     height: auto;
  
        border-radius: 4px;
        box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color:  #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
          padding: 72px 16px 24px;
  }
  
  .btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
        width: 24px;
        height: 24px;
        padding: 0;
  
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
      
            fill: #2e2f42;
            transition: fill 250ms linear;
            background-color:  #e7e9fc;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  
  .btn-modal:hover,
  .btn-modal:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
  }
  
  .modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
    
  
  .modal-info {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
      margin-bottom: 16px;
  }
      
  
    
  .input-user {
    width: 100%;
    height: 40px;
  
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      outline: transparent;
  
        background-color: transparent;
        transition: border-color 250ms linear;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
          padding-left: 38px;
  }
  
  
  .input-user:focus {
    outline: transparent;
    border: 1px solid #4d5ae5;
  }
  
  .modal-form {
    margin-bottom: 8px;
  }
  
  
  
  .label-name {
    display: block;
  
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      line-height: 1.17;
      color: #8e8f99;
  
        margin-bottom: 4px;
  }
  
  
  
  .input-user {
    position: relative;
  }
  
  
  .user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  
      fill: #2e2f42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
       
  
  .input-user:focus+.user-icon {
    fill: #4d5ae5;
  }
  
    
  .text-area {
      width: 100%;
      height: 120px;
      resize: none;
  
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
  
          border-radius: 4px;
          border: 1px solid rgba(46, 47, 66, 0.4);
          transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
            background-color: transparent;
            outline: transparent;
      
              padding: 8px 16px;
              margin-bottom: 16px;
  }
      
  
  .text-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
      
  
  .text-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .text-area:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
  }
  
  .checkbox-container  {
    margin-bottom: 24px;
  }
  
  .user-privacy:checked+.span-checkbox +.checkbox-label {
    border: none;
    border-color: 1px solid #404bbf;
    background-color: #404bbf;
    fill: #f4f4fd;
  }
  
  
  .privacy-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  
      line-height: 1.3;
  
        color: #4d5ae5;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
  }
  
  .span-checkbox {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    flex-shrink: 0;
  
      width: 16px;
      height: 16px;
      
          border-radius: 2px;
          border: 1px solid rgba(46, 47, 66, 0.4);
  
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
              margin-right: 8px;
  }
  
  
  .btn-checkbox {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  
      min-width: 169px;
      height: 56px;
      
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
          
          padding: 16px 32px;
  
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
  }
  
  /* MODAL-WINDOW-media-rules */
  
  /* tablet-and-dextop */
  
  @media screen and (min-width:768px) {
    .modal-window {
      width: 408px;
      height: 584px; 
    }
  }
  
  /* MODAL-WINDOW-media-rules */
  
  /* /MODAL-WINDOW-STYLES */
  
      
    
  
   
  
  
    
    